<!DOCTYPE html>
<html lang="en">
<head>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fes Chat</title>
</head>
<body>
    <center><h2>Fes Chat</h2></center>
    <center><h1>Login</h1></center>
    <label>Email : <input type="email"  id="email"></label><br><br>
    <label>Password : <input type="password"  id="password"></label><br><br>
    
    <button onclick="loginUser()">Login</button>
    <p>Not An User <a href="../index.html">Register</a>Here</p>

    <script src="../app.js"></script>
</body>
</html>